# SECURETHEBOX
.git
.gitignore
.vscode/
secrets/*.json
secrets/*.txt
secrets/*.yaml
secrets/*.yml
secrets/*.tar
.DS_Store
/target
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d