/target
/**/target
/**/**/target
/**/**/**/target
/**/**/**/**target
secrets/*
secrets.tar.gz
secrets/*.json
secrets/*.txt
secrets/*.yaml
secrets/*.yml
secrets/*.tar
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
